body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url('assets/dish-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center -100px;
}
